*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(221, 35, 212);
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > :first-child {
  margin-right: auto;
}

.header > div {
  background-color: pink;
  margin: 0 10px;
  height: 70px;
  width: 140px;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: rgb(173, 253, 173);
}

.contents {
  max-width: 700px;
  padding: 20px;
  background-color: green;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents > div {
  margin: 10px;
  background-color: yellow;
  height: 130px;
  width: 200px;
}

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(96, 141, 240);
}

.footer > div {
  background-color: lightskyblue;
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;

}